<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>LaFlente</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body onload = "atualizarTabelaCarrinho()">

    <!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item submenu dropdown active">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Produtos</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/produto">Produtos</a></li>
								</ul>
							</li>
							
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Meu Perfil</a>
								<ul class="dropdown-menu" id="menu_dinamico">
									

								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Carrinho</h1>
                    <nav class="d-flex align-items-center">
                       
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Produtos</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Total</th>
                            </tr>
                            
                        </thead>
                        <tbody id = "tabelaCarrinho">
                            
                            
                            
                    	</tbody>
                    	
                    </table>
                    
                    <div class="out_button_area">
		    		
		    		<div class="out_button_area">
		    	<div>
		    	<div class = "float-right">
				<p id = "subTotal"> SubTotal:</p>
				<input type="checkbox" id="" class=""><a> Frete Grátis</a>
				</div>
				
		        <div class="checkout_btn_inner d-flex align-items-center">
		            
		            <button style = "cursor:pointer"class="gray_btn" onclick = "recalcularPreco()">Recalcular </button> 
		            
		        </div>
		        
		    	</div>
				</div>
				
				<br>
				
				<br>
				<br>
				<br>
				
				
                   
                    
                    
                    
		
		<div class="out_button_area">
		    <div>
		        <div class="checkout_btn_inner d-flex align-items-center">
		            <a class="gray_btn" href="/produtos">Continuar Comprando</a>
		            <a class="primary-btn ml-4" href="/compra">Prosseguir Compra</a>
		        </div>
		    </div>
		</div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

    <!-- start footer Area -->
    
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
    <script src="js/nouislider.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/main.js"></script>
	
	
	<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=BRL" data-sdk-integration-source="button-factory"></script>
	<script>
	
	let produtos= [];
	
	//função para chamar a pagina do paypal
	  function initPayPalButton() {
	    paypal.Buttons({
	      style: {
	        shape: 'rect',
	        color: 'gold',
	        layout: 'horizontal',
	        label: 'paypal',
	        
	      },
	
	      createOrder: function(data, actions) {
	        return actions.order.create({
	          purchase_units: [{"amount":{"currency_code":"BRL","value":1}}]
	        });
	      },
	
	      onApprove: function(data, actions) {
	        return actions.order.capture().then(function(details) {
	          alert('Transaction completed by ' + details.payer.name.given_name + '!');
	        });
	      },
	
	      onError: function(err) {
	        console.log(err);
	      }
	    }).render('#paypal-button-container');
	  }
	  initPayPalButton();
	
	//função para desabilitar a frma de pagamento paypal
	function alterarCheckboxCredito(){
		document.getElementById('checkboxPaypal').checked = false
	}
	
	//função para desabilizar a forma de pagamento credito
	function alterarCheckboxPaypal(){
		document.getElementById('checkboxCredito').checked = false
	}
	function atualizarTabelaCarrinho(){
		let carrinho = localStorage.getItem("carrinho");
		
	if(carrinho){
			
			let tabelaCarrinho = document.getElementById("tabelaCarrinho");
			carrinho = JSON.parse(carrinho);
			tabelaCarrinho.innerHTML = "";
			
			let subTotal = 0;
			
			
		for(let i = 0; i < carrinho.itens.length; i++){
				
			let codigo = carrinho.itens[i].codigoProduto;
			let quantidade = carrinho.itens[i].quantidade;
			get("http://localhost:3000/carrinho-rest/"+ codigo).then(produto => {
					produtos.push(produto);
					//
					let totalProduto = produto.preco * carrinho.itens[i].quantidade;
					
					subTotal += totalProduto;
					tabelaCarrinho.insertAdjacentHTML('beforeend', `
							<tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="data:image/${produto.imagem[0].extensao};base64,${produto.imagem[0].imagem}" alt="" width="100" height="100">
                                        </div>
                                        <div class="media-body">
                                            <p>${produto.nome}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>R$ ${produto.preco}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="quantidade${produto.codigo}" maxlength="12" value=${carrinho.itens[i].quantidade} title="Quantity:"
                                            class="input-text qty">
                                        <button onclick="var result = document.getElementById('quantidade${produto.codigo}'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('quantidade${produto.codigo}'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td>
                                	
                                    <h5 class = "totalProduto">R$ ${totalProduto}</h5>
                                    
                                </td>
                                
                            </tr>
                            
							`);
					
					document.getElementById("subTotal").textContent = "SubTotal: " + subTotal;
					});
		        
			}
			
			
				
		}
		

	}
	function get(url) {
        return new Promise((resolve, reject) => {

            let xhr = new XMLHttpRequest();

            xhr.open('GET', url);

            xhr.onreadystatechange = () => {

                if (xhr.readyState == 4) {

                    if (xhr.status == 200) {

                        resolve(JSON.parse(xhr.responseText));

                    } else {

                        reject(xhr.responseText);
                    }
                }
            }

            xhr.send();
        });
    }
	function recalcularPreco(){
        let carrinho = localStorage.getItem("carrinho");

        carrinho = JSON.parse(carrinho);



        for(let i = 0; i < carrinho.itens.length; i++){

            let quantidade = document.getElementById("quantidade" + carrinho.itens[i].codigoProduto).value

            carrinho.itens[i].quantidade = parseInt(carrinho.itens[i].quantidade);

            carrinho.itens[i].quantidade = parseInt(quantidade);

        }
        for(let i = 0; i < carrinho.itens.length; i++){
            let quantidade = document.getElementById("quantidade" + carrinho.itens[i].codigoProduto).value

            if(carrinho.itens[i].quantidade == quantidade){
                let removido = carrinho.itens.splice(i, 1);

            }
        }
        localStorage.setItem("carrinho", JSON.stringify(carrinho));
        atualizarTabelaCarrinho()

    }

	
	getUsername("http://localhost:3000/usuario/username").then(username => {
		console.log(username)
		if(username == "anonymousUser"){
			document.getElementById("menu_dinamico").innerHTML = 
				`<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="/criarConta"> Criar Conta</a></li>`
		}else{
			document.getElementById("menu_dinamico").innerHTML = 
				`<li class="nav-item"><a class="nav-link" href="/editarConta">Editar Conta</a></li>
				<li class="nav-item"><a class="nav-link" href="/pedidos"> Meus Pedidos</a></li>`
		}
	});
	
	function getUsername(url) {
		return new Promise((resolve, reject) => {

			let xhr = new XMLHttpRequest();

			xhr.open('GET', url);

			xhr.onreadystatechange = () => {

				if (xhr.readyState == 4) {

					if (xhr.status == 200) {

						resolve(xhr.responseText);

					} else {

						reject(xhr.responseText);
					}
				}
			}

			xhr.send();
		});
	}
	function criarResumo(){
		
		localStorage.setItem("resumo", JSON.stringify(produtos));
		
		window.location.replace("http://localhost:3000/compra");
		
		
	}
	
	
	</script>
</body>

</html>